div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{

  color: white;
  font-size : 90px;
}

body{
  background-color: #1c2527;
}